# Build subdirectories.
/*build*
!/build-aux
!/build_msvc

*.pyc

src/binana.h

# Only ignore unexpected patches
*.patch
!contrib/guix/patches/*.patch
!depends/patches/**/*.patch

/CMakeUserPresets.json

# Previous releases
/releases

#build tests
test/lint/test_runner/target/

/guix-build-*

/ci/scratch/
ctv-dev.py
ctv-mine.py

venv/
.claude/